/*Reset Materialize*/
.progress{margin-top:0;}
.no-margin{margin:0;}


/*General*/
.content{display:none;}
.margin-top-15{margin-top:15%;}
p{margin: 0;}
h3,h2{margin:0;}
.valor{font-size:180%;}
div.col > span{border-top:solid 1px #aed581; width:100%; display: block; font-weight:lighter;}
.border-bottom{border-bottom:solid 1px #757575; }
/*strong{text-transform:capitalize;}*/